<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>About</h1>
        <p>
            Our mission is to expand the user’s online shopping habit into the real world, in the sense of connecting the virtual space with the real space. 
            We are exploring how people interact with the world when they are accustomed to the easiness and freedom of roaming in the online shopping space. 
            We see the need from our users as they want to still get the best deal or best selection of a specific item with the same comparitibility that 
            ecommerce giants like Amazon facilitate. So, no more Googling products to compare and contrast while shopping in the store. It doesn’t just save 
            them time, it also gives them the alternative of online shopping and have a chance to be engaged in the real world. It also gives the stores their 
            purpose of existence, which gives customers easier access to the products they 
            need more readily.
        </p>

        <nav id="navbar">
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a href="/scan">Scan</a></li>
				<li><a href="/search">Search</a></li>
				<!--<li><a href="#">Help</a></li>-->
			</ul>
		</nav>
    </div>
	<script src="js/bootstrap.js"></script>
</body>
</html>
