<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<!--<div class="modal">-->
		<div class="container">
			<div class="title">
				<img class="logo" src="images/MarkitTextLogoWhite.png">
			</div>
			
			<div class="Search">
				<a href="/search">
					<p>Search</p>
					<small id="Search_box">Brand</small>
				</a>
			</div>
			
			<div class="Scan">
				<a href="/scan">
					<p>Scan</p>
					<small id="Scan_box">Barcode</small>
				</a>
			</div>
		</div>
	<!--</div>-->
</body>
</html>
