<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>

	<!--
	<div class="loading_image">
			<img id="MarkIt_Image" src="images/markit_black.png">
			<p id="MarkIt_Image">Loading...</p>
		</div>-->
	<!--<div class="modal">-->
		<div class="login">
		<div class="container">
			<div class="title">
				<a href="/">
				<img class="logo" src="images/MarkitTextLogoWhite.png">
				</a>
			</div>
			
			<div class="Search">
				<a class="home" href="/search">
					<p id="Search_box_word">Search</p>
					<span id="Search_box">brand</span>
				</a>
			</div>
			
			<div class="Scan">
				<a class="home"  href="/scan">
					<p id="Scan_box_word">Scan</p>
					<span id="Scan_box">barcode</span>
				</a>
			</div>
		</div>
	</div>
	
	<script src="js/animation.js"></script>
	<!--</div>-->
</body>
</html>
