<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<!--<div class="modal">-->
		<div class="container">
			<div class="title">
				<h1 class="logo">MarkIt</h1>
				<!--<img class="logo" src="images/markit_white.png">-->
			</div>
			
			<div class="Search">
				<a href="/search" id="Search_box">
					<span>Search</span><small>By Brand</small>
				</a>
			</div>
			
			<div class="Scan">
				<a href="/scan" id="Scan_box">
					<span>Scan</span><small>Barcode</small>
				</a>
			</div>
		</div>
	<!--</div>-->
</body>
</html>
