<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="loading_image">
			<img id="MarkIt_Image" src="images/markit_white.png">
		</div>

<<<<<<< HEAD
		<p class="facebookLogin">
			Login through Facebook
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
		</p>
=======
		<div class="login">
			Username<br>
			<input type="text" id="username">
			<br>
			Password<br>
			<input type="text" id="password">
			<br>
			<a href="/index" class="button">submit</a>
>>>>>>> 5bf61301def7024e6f8223e0ae24f0f64af711a4

			<p class="facebookLogin">
				Login through Facebook
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
			</p>
		</div>
	</div>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="js/animation.js"></script>
</body>
</html>
