<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/search_style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="home">
        	<a href="/">
        	<h1><</h1>
        	</a>
    	</div>
        <div class="review">
            <img class="boxes"></img>
            <p>ITEM NAME</p>
            <div>
                <h1>REVIEW 1</h1>
                <p> SOMETHING </p>
                <h1>REVIEW 2</h1>
                <p> SOME OTHER THING</p>
            </div>
        </div>
        <div class="suggestion">
        	<span>SUGGESTIONS</span>
        	<div>
        		<p class="boxes">ITEM NAME</p>
        		<p class="boxes">ITEM NAME</p>     
        		<p class="boxes">ITEM NAME</p>      		   		
        	</div>
        </div>
	</div>
</body>
</html>
