<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h3>Scan barcode</h3>
        <!--input type="file" accept="image/*" capture="camera"-->
		<div id='barcode-scanner'></div>
		<script src="js/barcode.js"></script>
	</div>
</body>
</html>
