<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/search_style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="home">
        	<a href="/">
        	<h1><</h1>
        	</a>
        	<h1>SEARCH BY NAME</h1>
    	</div>
        <div class="search">
        	<a href="search">
        	<span>Tap to search another item... </span>
        	</a>
        </div>
        <div class="popular">
        	<span>Popular brands ...</span>
        	<div class="review">
        		<a href="review">
        		<p class="boxes">ITEM NAME</p>
        		<p class="boxes">ITEM NAME</p>     
        		<p class="boxes">ITEM NAME</p>        		
        		<p class="boxes">ITEM NAME</p>
        		</a>        		   		
        	</div>
        </div>
	</div>
</body>
</html>
