<!doctype html>

<html>
<head>
	<title>Markit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/search_style.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
        <h1>Search</h1>
        <input id='keyPress'></input>
        <div class="frequent">
        	<h2>Most Frequent Searches</h2>
        </div>
        <div class="home">
        	<a href="/">
        	<h3>HOME</h3>
        	</a>
    	</div>
	</div>
</body>
</html>
