body {
	background-color: #000000 !important;
	text-align: center;
}

small {
	font-size: 1vw !important;
}

img {
    
}

h1 {
	color: white !important;
	font-size: 2vw !important;
}

.container {
	margin: auto !important;
	padding:0 !important;
	width: 100% !important;
}

.Search{
	font-size: 30px;
	font-size: 5vw;
	padding: 14vw 5vw;
    text-align: block;
    background-color: #ffb79b;
    border-bottom: 1vw white solid;
}

.Scan {
 	font-size: 30px;
	font-size: 5vw;
	padding: 14vw 5vw;
    text-align: block;

}

#Search_box {
	border: 2px black solid;
	color: black;
	padding: 2vw;
}

#Scan_box {
 	border: 2px white solid;
 	color: white;
 	padding: 2vw 4.5vw;
}

#MarkIt_Image {
	padding: 10vw;
	margin: 10vw;
	-webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 2s;
    -o-animation-iteration-count: infinite;
}

@-webkit-keyframes blink {

    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {

    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.login {
	color: #ffb79b;
	font-size:4vw;
	padding: 20px;
	text-align: center;

}

#interactive.viewport {
	position: relative; 
	width: 100%; 
	height: auto; 
	overflow: hidden; 
	text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
	position: absolute;
	left: 0;
	right: 0;
}

.button {
  font: bold 22px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 12px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}