body {
    background-color: #000000 !important;
    color: white !important;
  	text-align: center;
}

a {
    text-decoration: none !important;
}

h1 {
	color: white !important;
	font-size: 2vw !important;
}

h3 {
    color:white !important;
    font-size: 2vw !important;
}

span {
    color: white !important;
    font-size: 2vw !important;
}

#search_img{
    float: center;
    display: inline-block;
    width: 70%;
}

#search_result{
    float: center;
    display: inline-block;
    width: 30%;
}

#searchss{
    display: inline;
    height: 50%;
}


nav {
    margin: auto !important;
    padding:0 !important;
    width: 100% !important;
}

html, body {
    height: 100%;
}

img{
    height: 150px !important;
    width: auto !important;
}


.container{
    margin: auto !important;
    padding:0 !important;
    width: 100% !important;
}

.Search{
	font-size: 5vh;
	padding: 14vh 5vw;
    text-align: block;
    background-color: #F48058;
}

.Scan {
	font-size: 5vw;
	padding: 14vh 5vw;
    text-align: block;

}

#navbar{
    background-color:#fff;
    color:#333;
    position: fixed;
    top: 400px;
}

#navbar a{
    color:#333;
    text-decoration: none !important;
    font-size:18px !important;
    padding-right:15px !important;
}

#navbar ul{
    padding:0 !important;
    list-style: none !important;
}

#navbar li{
    display:inline !important;
}

#Search_box {
	border: 2px black solid;
    background-color: black;
	color: white;
    vertical-align: middle;
}

#Scan_box {
 	border: 2px white solid;
 	color: white;
    vertical-align: middle;
}

#MarkIt_Image {
	padding: 10vw;
	margin: 10vw;
	-webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 2s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 2s;
    -o-animation-iteration-count: infinite;
}

@-webkit-keyframes blink {

    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {

    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.login {
	color: #F48058;
	font-size:4vw;
	padding: 20px;
	text-align: center;

}

#interactive.viewport {
	position: relative; 
	width: 100%; 
	height: auto; 
	overflow: hidden; 
	text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
	position: absolute;
	left: 0;
	right: 0;
}

#fb-login {
    transform: scale(0.8);
    margin-left: 1vw;
}

.button {
    font: bold 4vw Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 1vh 3vw;
    border-top: 1vw solid #CCCCCC;
    border-right: 1vw solid #333333;
    border-bottom: 1vw solid #333333;
    border-left: 1vw solid #CCCCCC;
}