body {
    background-color: #252525 !important;
    color: white !important;
  	text-align: center;
}

span {
    color: white !important;
}

nav {
    margin: auto !important;
    padding:0 !important;
    width: 100% !important;
}

html, body {
    height: 100%;
}

p{
    padding: 0px 20px;
}

a #MarkIt_Image{
    text-decoration: none;
    color:white;
}

#scansearch .btn{
    background-color: white;
    color: #F48058;
}

.clr {
    clear: both;
}

.container{
    margin: auto !important;
    padding:0 !important;
    width: 100% !important;
}

/***********/
/* inputs */

#submitBtn{
    background-color: #F48058;
    color: white;
    height: 8vh;
    width: 50%;
    font-size: 4vw;
}

/****************/
/* Log-in Page */

#MarkIt_Image {
    padding-top : 5vw;
    margin-top: 5vw;
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/*
.login {
    color: #F48058;
    font-size:4vw;
    padding: 20px;
    text-align: center;
}
*/
.button {
    font: bold 4vw Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 1vh 3vw;
    border-top: 1vw solid #CCCCCC;
    border-right: 1vw solid #333333;
    border-bottom: 1vw solid #333333;
    border-left: 1vw solid #CCCCCC;
}

#fb-login {
    transform: scale(0.8);
    margin-left: 1vw;
}

/********************/
/* Home/Index Page */

img.logo{
    max-width: 80%;
}

a.home{
    text-decoration: none !important;
    color: white;
}

.Scan{
    font-size: 10vh;
    padding: 5vh 10vw;
    width: 100%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #F48058;
}

a:hover #Scan_box_word{
    color:#252525 !important;
}

#Scan_box_word{
    padding-top: 6vh;
    font-size: 15vw;
}

#Scan_box {
    border: 2px #252525 solid;
    background-color: #252525;
    color: white;
    vertical-align: top;
    font-size: 9vw;
    padding: 1vh 10vw;
}

a:hover #Scan_box{
    border: 2px #F48058 solid;
    background-color: #F48058;
    color: #252525 !important;
}

.Search {
    font-size: 6vh;
    padding: 5vh 10vw;
    width: 100%;
    height: 50%;
    text-align: block;
}

a:hover #Search_box_word{
    color:#F48058 !important;
}

#Search_box_word{
    padding-top: 10vh;
    font-size: 15vw;
}

#Search_box {
    border: 2px #F48058 solid;
    background-color: #F48058;
    color: white;
    vertical-align: top;
    font-size: 6vw;
    padding: 1vh 8vw;
}

a:hover #Search_box{
    border: 2px #252525 solid;
    background-color: #252525;
    color: #F48058;
}

/****************/
/* Search Page */

#details{
    display: none;
}


#search_img{
    height: 150px !important;
    width: auto !important;
    display: inline-block;
    width: 70%;
}

#search_result{
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 30%;
}

.searchs{
    width: 100%;
    display: block;
    height: 33.3% !important;
    font-size: 4.5vw;
    text-align: left;
}

#reviewimgs{
    max-width: 100%;
}

#reviews{
    font-size: 3vw;
    text-align: left;
}

#extra_space{
    padding: 50px;
}

/**************/
/* Scan Page */

#scan_btn{
    height: 50px;
    width: 250px;
    max-width: 100%;
    border-radius: 40%;
    background-color: #F48058;
    color:white;
}

#scan_btn2{
    height: 180px;
    width: 180px;
    max-width: 100%;
    border-radius: 60%;
    background-color: #F48058;
    font-size: 5vh;
    color:white;
}

.input-group-btn{
    padding: 10%;
}

.input-group-btn2{
    padding: 3%;
}

#txtSearch{
    background-color: #252525;
    border-color: #252525; 
    color:white;
    width:50%;
    text-align: center;
    display: inline-block;
}

/************/
/* Nav Bar */

#navbar{
    background-color:#F48058;
    position: fixed;
    bottom: 0%;
}

#navbar a:hover{
    color: #252525;
}

#navbar a:active{
    color: #252525;
}

#navbar a{
    color:white;
    text-decoration: none !important;
}

#navbar ul{
    padding:0 !important;
    list-style: none !important;
}

#navbar li{
    display:inline !important;
}

#navbar li:nth-child(1){
    font-size: 10vw !important;
}

#navbar li:nth-child(2){
    font-size: 7vw !important;
    padding-right:10px !important;
}

#navbar li:nth-child(3){
    font-size: 7vw !important;
    padding-right:8px !important;
}

#navbar li:nth-child(4){
    font-size: 7vw !important;
}


/************************/
/* things I don't know */

#interactive.viewport {
	position: relative; 
	width: 100%; 
	height: auto; 
	overflow: hidden; 
	text-align: center;
}

#interactive.viewport > canvas, #interactive.viewport > video {
	max-width: 100%;
	width: 100%;
}

canvas.drawing, canvas.drawingBuffer {
	position: absolute;
	left: 0;
	right: 0;
}